Using the concepts of SQL to Create Star Schema and then later change it to snowflake schema

-- Creating a new DB 
CREATE database Airlines;

-- Using Airlines DB 
USE Airlines;

-- Trying to create a Star Schema with flight details
-- Crating a fact table called flight
CREATE TABLE flight (
flight_id INT PRIMARY KEY,
departure_airport_id INT,
arrival_airport_id INT,
aircraft_id INT,
crew_id INT,
passenger_count INT
);

-- Creating an aircraft dimension table
CREATE TABLE aircraft_dim (
aircraft_id INT PRIMARY KEY,
aircraft_model VARCHAR(50),
capacity INT 
);

-- creating an arrival_airport _dimension table
CREATE TABLE airport_arrival_dim (
airport_id INT PRIMARY KEY,
airport_name VARCHAR(100),
airport_city VARCHAR(50),
airport_country VARCHAR(50)
);

-- creating an airport_departure_dimension table
CREATE TABLE airport_departure_dim (
airport_id INT PRIMARY KEY,
airport_name VARCHAR(100),
airport_city VARCHAR(50),
airport_country VARCHAR(50)
);

-- Creating Crew_dim Table
CREATE TABLE crew_dim(
crew_id INT PRIMARY KEY,
crew_name VARCHAR(100),
crew_type VARCHAR(50)
);

-- Altering some info from aircraft table to sub dimension tables to turn  this into snowflake schema

-- Creating sub dim table aircraft_type_dim
CREATE TABLE aircraft_type_dim(
aircraft_type_id INT PRIMARY KEY,
type VARCHAR(50),
maker VARCHAR(50),
age INT
);

-- Altering aircraft dim table to add the aircraft type data and adding the relation to the two tables using FK constraint
ALTER TABLE aircraft_dim 
ADD COLUMN aircraft_type_id INT;

ALTER TABLE aircraft_dim
ADD CONSTRAINT fk_aircrafttype
FOREIGN KEY (aircraft_type_id) REFERENCES aircraft_type_dim(aircraft_type_id);

-- ADDINDG DUMMY DATA TO ALL THE TABLES

-- Inserting data into aircraft_type_dim
INSERT INTO aircraft_type_dim (aircraft_type_id, type, maker, age)
VALUES
  (1, 'Boeing 737', 'Boeing', 10),
  (2, 'Airbus A320', 'Airbus', 8),
  (3, 'Boeing 777', 'Boeing', 15),
  (4, 'Embraer 190', 'Embraer', 5),
  (5, 'Airbus A380', 'Airbus', 12);

-- Inserting data into aircraft_dim
INSERT INTO aircraft_dim (aircraft_id, aircraft_model, capacity, aircraft_type_id)
VALUES
  (101, 'Boeing 737-800', 180, 1),
  (102, 'Airbus A320-200', 180, 2),
  (103, 'Boeing 777-300ER', 350, 3),
  (104, 'Embraer 190-100', 100, 4),
  (105, 'Airbus A380-800', 525, 5);

-- Inserting data into airport_arrival_dim
INSERT INTO airport_arrival_dim (airport_id, airport_name, airport_city, airport_country)
VALUES
  (1, 'John F. Kennedy International Airport', 'New York', 'USA'),
  (2, 'Heathrow Airport', 'London', 'UK'),
  (3, 'Charles de Gaulle Airport', 'Paris', 'France'),
  (4, 'Haneda Airport', 'Tokyo', 'Japan'),
  (5, 'Frankfurt Airport', 'Frankfurt', 'Germany');

-- Inserting data into airport_departure_dim
INSERT INTO airport_departure_dim (airport_id, airport_name, airport_city, airport_country)
VALUES
  (1, 'John F. Kennedy International Airport', 'New York', 'USA'),
  (2, 'Heathrow Airport', 'London', 'UK'),
  (3, 'Charles de Gaulle Airport', 'Paris', 'France'),
  (4, 'Haneda Airport', 'Tokyo', 'Japan'),
  (5, 'Frankfurt Airport', 'Frankfurt', 'Germany');

-- Inserting data into crew_dim
INSERT INTO crew_dim (crew_id, crew_name, crew_type)
VALUES
  (1001, 'Captain Smith', 'Pilot'),
  (1002, 'First Officer Jones', 'Co-Pilot'),
  (1003, 'Flight Attendant Lee', 'Flight Attendant'),
  (1004, 'Captain Patel', 'Pilot'),
  (1005, 'First Officer Kim', 'Co-Pilot');

-- Inserting data into flight table
INSERT INTO flight (flight_id, departure_airport_id, arrival_airport_id, aircraft_id, crew_id, passenger_count)
VALUES
  (1, 1, 2, 101, 1001, 150),
  (2, 2, 1, 102, 1002, 180),
  (3, 1, 3, 103, 1003, 300),
  (4, 4, 5, 104, 1004, 80),
  (5, 5, 1, 105, 1005, 450);